/*Alex Bowman
 * HW#10 
 * Professor Silvestri
 * 5/1/2020
 * 
 */
.root {

     -fx-font-weight: bold;
     -fx-font-size: 12pt;
}

.radio-button {
	-fx-color: white;
}

.text-color {
     -fx-text-fill: black;
}


.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label{
-fx-background-color: linear-gradient(#61a2b1, #2A5058);
     -fx-text-fill: white;
     -fx-padding: 5px;
     }